@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap');
* {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
*{
    margin: 0;
}
html, body { 
    overflow-x: hidden; 
    background-image: url("../image/background.jpg");
    background-attachment: fixed;
}
a {

    background-color:transparent;
}
a:hover {
    background-color: transparent;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: all 1.6s ease;
}
.jumbotron {
    margin: 0 0;
}
.jumbotron-header {
    background-attachment: fixed, fixed, fixed;
	background-image: url("../image/overlay2.png"), url("../image/overlay4.svg"), linear-gradient(45deg, #4361c2, #4fa49a 50%, #9dc66b 95%);
	background-size: auto, cover, cover;
    color: white;
    text-align: center;
    /*padding: 270px;*/
}
.jumbotron-skill {
    color: white;
    background: transparent;
    background-color: rgba(51, 51, 51, 0.5);
}
.jumbotron-discover {
    background-color: #fff;;
}
.jumbotron-project {
    background-color: white;
    text-align: center;
}
.jumbotron-contact {
    background: transparent;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
}
.jumbotron-social {
    background-attachment: fixed, fixed, fixed;
    background-image: url("../image/overlay2.png"), url("../image/overlay4.svg"), linear-gradient(45deg, #4361c2, #4fa49a 50%, #9dc66b 95%);
    background-size: auto, cover, cover;
    color: white;
    text-align: center;
}
.skill-list {
    text-align: center;
    padding-right: 12%;
}
.btn{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid white;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-discover {
    color: white;
    background-color: transparent;
    border-color: white;
}
.btn-discover:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.125);
}

.btn-project {
    border-color: #666 ;
}
.btn-project:hover {
    color: #fff;
    background-color: gray;
}
.btn-cv {
    color: black;
    background-color: white;
}
.btn-cv:hover {
    color: white;
    background-color: transparent;
}
.btn-downloads {
    color: white;
    background-color: transparent;
}
.btn-downloads:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}
div.major {
    margin: 0;
}
div.major::after {
    content: "";
    background: rgba(144, 144, 144, 0.5);
    display: inline-block;
    height: 2.5px;
    margin: 1.5em 0em;
    width: 6em;
}
.gap {
    margin: 0 1.5%;
}
.icon-gap {
    color: white;
    padding-top: 0%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}