@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
a {
    text-decoration: none;
    color: #3AAA64;
}
a:hover {
    color: #3AAA64;
    text-decoration: underline;
}
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h1.name {
    font-size: 38px;
}
.btn {
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-weight: 500;
    font-size: 2rem;
}
h2.heading {
    color: #545e69;
    font-size: 2rem;
    font-weight: 700;
}
h2.title {
    color: #778492;
    font-size: 1rem;
    font-weight: 900;   
}
h3.title {
    color: #778492;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
}
p.content {
    padding-left: 25px;
}
a:hover {
    text-decoration: none;
}
body { 
    font-family: 'Lato', arial, sans-serif;
    background: #DAE3E7;
    width: 100vw;
    font-size: 16px;
    overflow-x: hidden;
}

.name {
    color: #49515a;
    font-size: 38px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    max-width: 1140px;
  }
}

.container-body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px 15px;
    background-color: #fff;
}
.jumbotron {
    background-color: #f5f5f5;
    padding: 50px;
}
.header span a {
    border: 1px solid transparent;
    text-align: center;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    line-height: 34px;
    background-color: #b0b7bf;
    color: #fff;
    margin-right: 10px;
    -webkit-transition: all 1s ease-in-out;
}
.col-md-6.header {
    padding-top: 20px;
} 
.heading {
    margin-top: 0;
    margin-bottom: 30px;
}
.header span a:hover {
    background-color: #333;
    -webkit-transition: all 1s ease-in-out;
}
div.container .row .col-lg-4 .container {
    -webkit-transition: all 1s ease-in-out;
    margin: 50px auto;
}
@media (max-width: 1200px) {
    div.container .row .col-lg-4 .container {
        -webkit-transition: all 1s ease-in-out;
        margin: 40px auto;
    }
}
@media (max-width: 1169px) {
    div.container .row .col-lg-4 .container {
        -webkit-transition: all 1s ease-in-out;
        margin: 50px auto;
    }
}
@media (max-width: 900px) {
    div.container .row .col-lg-8 .container {
        -webkit-transition: all 1s ease-in-out;
        text-align: center;
    }
    div.container .row .col-lg-4 .container {
        -webkit-transition: all 1s ease-in-out;
        text-align: right;
        margin-bottom: 5px;
    }
}
div.container{
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
}
div.col-lg-4 div.row-4 div.container-body a {
    color: #3AAA64;
}
div.col-lg-4 div.row-4 div.container-body i {
    color: #ccd1d6;
}
div.row-8 div.container-body p.explore{
    text-align: center;
}

div.space {
    background: rgba(144, 144, 144, 0.2);
    display: inline-block;
    height: 0.1px;
    margin: 1.5em 0em;
    width: 100%;
}
.img-hover:hover{
    opacity: 0.5;
    transform: scale(1.2);
    transition: 0.5s ease-out;
    filter: blur(4px);
}
.img-shadow {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}
div.over-flow {
    overflow: hidden;
}
.footer .container-body {
    background: #32383e;
    color: #fff;
    text-align: center;
}

.btn.btn-info {
    font-weight: bold;
    text-transform: uppercase;
}
.btn.btn-primary {
    font-weight: bold;
}
div.row-4 div.container-body p.title1::before {
    content : 'English: ';
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #778492;
}
div.row-4 div.container-body p.title2::before {
    content : 'Vietnamese: ';
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #778492;
}
p.sumary {
    text-align: center;
    color: #778492;
}